<div class="quote-header">
    <div class="quote-header-cell">
        <div class="quote-header-label cell">Quote DATE:</div>
        <div class="quote-header-value"><%= new Date().toDateString() %></div>
    </div>
    <div class="quote-header-cell">
        <div class="quote-header-label cell">EXPIRATION:</div>
        <div class="quote-header-value"><%= new Date(new Date().setFullYear(new Date().getFullYear() + 1)).toDateString() %></div>
    </div>
    <div class="quote-header-cell">
        <div class="quote-header-label cell">JOB NAME:</div>
        <div class="quote-header-value"></div>
    </div>
    <div class="quote-header-cell">
        <div class="quote-header-label cell cell-last">CUSTOMER PO:</div>
        <div class="quote-header-value"></div>
    </div>
</div>

<div class="customer-info">
    <div class="customer-info-cell">
        <div class="customer-info-label cell">CUSTOMER NAME:</div>
        <div class="customer-info-value"><%= customer.firstName %> <%= customer.lastName %></div>
    </div>
    <div class="customer-info-cell">
        <div class="customer-info-label cell">CONTACT NAME:</div>
        <div class="customer-info-value">Adam Pollack</div>
    </div>
    <div class="customer-info-cell">
        <div class="customer-info-label cell">PHONE:</div>
        <div class="customer-info-value"><%= customer.phone || 'N/A' %></div>
    </div>
    <div class="customer-info-cell">
        <div class="customer-info-label cell cell-last">EMAIL:</div>
        <div class="customer-info-value">orders@buildingsupplybff.com</div>
    </div>
</div>

<div class="address-section">
    <div class="address-column">
        <div class="address-header cell">BILL TO:</div>
        <div class="address-content">
            <div><%= customer.firstName %> <%= customer.lastName %></div>
            <% if (customer.useSameAddress === false || customer.useSameAddress === 'false') { %>
                <div><%= customer.billingAddress %></div>
                <div><%= customer.billingCity %> <%= customer.billingState %> <%= customer.billingZipCode %></div>
                <div><%= customer.billingCountry === 'US' ? 'United States' : customer.billingCountry %></div>
            <% } else { %>
                <div><%= customer.address %></div>
                <div><%= customer.city %> <%= customer.state %> <%= customer.zipCode %></div>
                <div><%= customer.country === 'US' ? 'United States' : customer.country %></div>
            <% } %>
        </div>
    </div>
    <div class="address-column">
        <div class="address-header cell cell-last">SHIP TO:</div>
        <div class="address-content">
            <div><%= customer.firstName %> <%= customer.lastName %></div>
            <div><%= customer.address %></div>
            <div><%= customer.city %> <%= customer.state %> <%= customer.zipCode %></div>
            <div><%= customer.country === 'US' ? 'United States' : customer.country %></div>
        </div>
    </div>
</div>
