<div class="item-container">
  <div class="item-header invert-colors">
    <div class="item-header-cell">
      <div class="item-header-label cell">LINE #</div>
      <div class="item-header-value"><%= counter() %></div>
    </div>
    <div class="item-header-cell">
      <div class="item-header-label cell">ITEM</div>
      <div class="item-header-value"><%= item.name %></div>
    </div>
    <div class="item-header-cell">
      <div class="item-header-label cell">QTY</div>
      <div class="item-header-value"><%= item.quantity %></div>
    </div>
    <div class="item-header-cell">
      <div class="item-header-label cell">UNIT PRICE</div>
      <div class="item-header-value">
        <% if (isManufacturerQuote) { %>
          -
        <% } else { %>
          <%= (Number(lineItem.priceOverride.amount) - Number(getCustomAttribute(lineItem.customAttributes, '_frame')?.value || 0) - (item.doorConfig.frameType !== "none" ? Number(getCustomAttribute(lineItem.customAttributes, '_shippingPerUnit')?.value) : 0)).toFixed(2) + " " + lineItem.priceOverride.currencyCode %>
        <% } %>
      </div>
    </div>
    <div class="item-header-cell">
      <div class="item-header-label cell">TOTAL PRICE</div>
      <div class="item-header-value">
        <% if (isManufacturerQuote) { %>
          -
        <% } else { %>
          <%= (Number(lineItem.priceOverride.amount) - Number(getCustomAttribute(lineItem.customAttributes, '_frame')?.value || 0) - (item.doorConfig.frameType !== "none" ? Number(getCustomAttribute(lineItem.customAttributes, '_shippingPerUnit')?.value) * Number(lineItem.quantity) : 0)).toFixed(2) + " " + lineItem.priceOverride.currencyCode %>
        <% } %>
      </div>
    </div>
  </div>

  <div class="item-details">
    <div class="item-details-row"></div>
    <div class="item-details-row secondary-colors">
      <div class="item-details-cell">
        <div class="item-details-label cell">WIDTH & HEIGHT</div>
        <div class="item-details-value"><%= item.doorConfig.finishedOpeningWidth %> IN x <%= item.doorConfig.finishedOpeningHeight %> IN</div>
      </div>
      <div class="item-details-cell">
        <div class="item-details-label cell">COLOR/FINISH</div>
        <div class="item-details-value"><%= item.doorConfig.doorColor?.split('-').join(' ') %></div>
      </div>
      <div class="item-details-cell">
        <div class="item-details-label cell">BUMPER/KICKPLATE</div>
        <div class="item-details-value"><%= item.doorConfig.protectionType %></div>
      </div>
      <div class="item-details-cell">
        <div class="item-details-label cell">WINDOW SIZE</div>
        <div class="item-details-value"><%= item.doorConfig.windowType === 'none' ? "N/A" : item.doorConfig.windowType === 'standard' ? '9" x 14"' : `${item.doorConfig.customWindowWidth}" x ${item.doorConfig.customWindowHeight}"` %></div>
      </div>
      <div class="item-details-cell">
        <div class="item-details-label cell cell-last">FRAME (Y/N)</div>
        <div class="item-details-value"><%= item.doorConfig.frameType === 'none' ? 'No' : 'Yes' %></div>
      </div>
    </div>
  </div>

  <div class="item-specification-container">
    <div class="item-specification"></div>
    <div class="item-specification">
      <% for (const [key, value] of Object.entries(item.doorConfig)) { %>
        <% if (key.startsWith('_') || ['frameType', 'roughOpeningWallThickness', 'jambDepth'].includes(key) || key.toLowerCase().includes('step') || value === false || value === '' || value === null || key.toLowerCase().includes('photo')) { continue; } %>

        <div class="item-specification-row">
          <div class="item-specification-label"><%= formatKey(key) %>:</div>
          <% if (key === 'jambGuardType') { %>
            <div class="item-specification-value"><%= value?.toString() === 'large' ? '5" x 18"' : '3" x 9"' %></div> 
          <% } else { %>
            <div class="item-specification-value"><%= formatKey(value?.toString() || '') %></div> 
          <% } %>
        </div>
      <% } %> 
    </div>
  </div>

  <div class="item-illustration-container">
    <%- include('doorIllustration', { ...item.doorConfig }) %>
  </div>
</div>