<div class="item-container">
  <div class="item-header invert-colors">
    <div class="item-header-cell">
      <div class="item-header-label cell">LINE #</div>
      <div class="item-header-value"><%= index + 1 %></div>
    </div>
    <div class="item-header-cell">
      <div class="item-header-label cell">ITEM</div>
      <div class="item-header-value"><%= item.name %></div>
    </div>
    <div class="item-header-cell">
      <div class="item-header-label cell">QTY</div>
      <div class="item-header-value"><%= item.quantity %></div>
    </div>
    <div class="item-header-cell">
      <div class="item-header-label cell">UNIT PRICE</div>
      <div class="item-header-value"><%= (Number(lineItem.priceOverride.amount) / Number(lineItem.quantity)).toFixed(2) + " " + lineItem.priceOverride.currencyCode %></div>
    </div>
    <div class="item-header-cell">
      <div class="item-header-label cell">EXT. PRICE</div>
      <div class="item-header-value"><%= Number(lineItem.priceOverride.amount).toFixed(2) + " " + lineItem.priceOverride.currencyCode %></div>
    </div>
  </div>

  <div class="item-details">
    <div class="item-details-row"></div>
    <div class="item-details-row secondary-colors">
      <div class="item-details-cell">
        <div class="item-details-label cell">WIDTH & HEIGHT</div>
        <div class="item-details-value"><%= item.doorConfig.finishedOpeningWidth %> IN x <%= item.doorConfig.finishedOpeningHeight %> IN</div>
      </div>
      <div class="item-details-cell">
        <div class="item-details-label cell">COLOR/FINISH</div>
        <div class="item-details-value"><%= item.doorConfig.doorColor?.split('-').join(' ') %></div>
      </div>
      <div class="item-details-cell">
        <div class="item-details-label cell">BUMPER/KICKPLATE</div>
        <div class="item-details-value"><%= item.doorConfig.protectionType %></div>
      </div>
      <div class="item-details-cell">
        <div class="item-details-label cell">WINDOW SIZE</div>
        <div class="item-details-value"><%= item.doorConfig.windowType === 'standard' ? '9" x 14"' : `${item.doorConfig.customWindowWidth}" x ${item.doorConfig.customWindowHeight}"` %></div>
      </div>
      <div class="item-details-cell">
        <div class="item-details-label cell cell-last">FRAME (Y/N)</div>
        <div class="item-details-value"><%= item.doorConfig.frameType === 'none' ? 'No' : 'Yes' %></div>
      </div>
    </div>
  </div>

  <div class="item-specification-container">
    <div class="item-specification"></div>
    <div class="item-specification">
      <% for (const [key, value] of Object.entries(item.doorConfig)) { %>
        <% if (key.toLowerCase().includes('step') || value === false || value === '' || value === null || key.toLowerCase().includes('photo')) { continue; } %>

        <div class="item-specification-row">
          <div class="item-specification-label"><%= formatKey(key) %>:</div>
          <div class="item-specification-value"><%= formatKey(value?.toString() || '') %></div> 
        </div>
      <% } %> 
    </div>
  </div>

  <div class="item-illustration-container">
    <%- include('illustration', { ...item.doorConfig }) %>
  </div>
</div>