<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://localhost:3000/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote PDF</title>
    <link rel="stylesheet" href="styles.css"> 
    <style>
      .page-break {
        display: block;
        height: 0;
        page-break-before: always;
        break-before: page;
      }
    </style>
</head>
<body>
    <%- include('header') %> 
    <main>
      <%- include('customerDetails', { customer: input.contactInformation }) %>
      <% for (const [index, item] of input.cart.entries()) { %>
        <%- include('newLineItem', { item: item, index: index, lineItem: lineItems[index], isManufacturerQuote: isManufacturerQuote }) %>
      <% } %>
      <% if (!isManufacturerQuote) { %>
        <%- include('warrantyLineItem', { lineItem: getWarrantyLineItem(lineItems) }) %>
        <%- include('shippingDetails') %>
        <%- include('totalPrice', { lineItems: lineItems }) %>
        <%- include('termsAndConditions', { terms: terms }) %>
      <% } %>
    </main>
    <%- include('footer') %>
</body>
</html>